
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<head>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $("#state").change(function() {
        sendAjaxRequest();
    });
});</script>

<script type="text/javascript">
function sendAjaxRequest() {
    var state = $("#state").val();
    $.get( "/getCitiesData?state=" + state, function( data ) {
        $("#region").empty();
        $("#station").empty();
        data.forEach(function(item) {
            var option = "<option th:value = " + item + ">" + item +   "</option>";
            $("#region").append(option);
        });
    });
};
</script>


<script type="text/javascript">
$(document).ready(function() {
    $("#region").change(function() {
        getStationData();
    });
});</script>

<script type="text/javascript">
function getStationData() {
    var city = $("#region").val();
    $.get( "/getStationData?city=" + city, function( data ) {
        $("#station").empty();
        data.forEach(function(item) {
            var option = "<option th:value = " + item + ">" + item +   "</option>";
            $("#station").append(option);
        });
    });
};
</script>

<title>Testing</title>

</head>

<body>

	<form autocomplete="off" th:action="@{/registration}"
		th:object="${details}" method="post" class="form-horizontal"
		role="form">

		<div class="form-group">

			<p>Select State</p>
			<select th:field="*{state}" id="state">

				<option th:value="None" th:text="Select"></option>
				<option th:each="state : ${stateList}" th:value="${state}"
					th:text="${state}"></option>


			</select>

		</div>

		<div class="form-group">

			<p>Select City</p>

			<select th:field="*{region}" id="region">


			</select>

		</div>

		<div class="form-group">

			<p>Select Station</p>
			<select th:field="*{station}" id="station">


			</select>

		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Submit
			</button>
		</div>



	</form>



	<table id="example" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>Country</th>
				<th>State</th>
				<th>City</th>
				<th>Station</th>
				<th>Pollutant Name</th>
				<th>Pollutant Min</th>
				<th>Pollutant Max</th>
				<th>Pollutant Average</th>
				<th>Last Updated</th>



			</tr>
		</thead>
		<tbody>
			<tr data-th-each="record : ${recordList}">
				<td data-th-text="${record.country}"></td>
				<td data-th-text="${record.state}"></td>
				<td data-th-text="${record.city}"></td>
				<td data-th-text="${record.station}"></td>
				<td data-th-text="${record.pollutant_id}"></td>
				<td data-th-text="${record.pollutant_min}"></td>
				<td data-th-text="${record.pollutant_max}"></td>
				<td data-th-text="${record.pollutant_avg}"></td>
				<td data-th-text="${record.last_update}"></td>



			</tr>
		</tbody>
	</table>

</body>
</html>