<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">


<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/home.custom.css}" />

<script type="text/javascript" th:src="@{/js/custom.js}"></script>

<title>WinWithWeb-Configuration</title>

</head>
<body>

	<div class="container login-container">
		<br />
		<div class="row">
			<div class="col-sm-1" align="left">
				<a href="https://www.winwithweb.in" target="_blank"><img
					th:src="@{/images/winwithweb-pnglogo.png}" alt="loginimage"
					style="height: 50px;" /></a>
			</div>
			<div class="col-sm-10"></div>
			<div class="col-sm-1" align="right">
				<h3>
					<a th:href="@{/logout}"><button type="button"
							class="btn btn-danger btn-md">Sign Out</button></a>
				</h3>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-10">
				<h4>Hello [[${#httpServletRequest.remoteUser}]]! Please fill
					the below details</h4>
			</div>
		</div>
		<!-- <div class="row">
			<div class="panel panel-default"></div>
		</div> -->

		<div class="row">
			<div class="col-sm-8">

				<h4 class="page-header">Start Sending Bulk Emails</h4>
				<form method="post" action="/home">
					<div class="form-group float-label-control">
						<label for="">Name</label> <input type="text" name="username"
							class="form-control" placeholder="Enter Your Name">
					</div>
					<div class="form-group float-label-control">
						<label for="">Emails</label>
						<textarea class="form-control" name="email"
							placeholder="Enter Email id to Send" rows="5"></textarea>
					</div>

					<div class="col-sm-12 controls">

						<input type="submit" name="" class="btn btn-success"
							value="Send Email">
					</div>
				</form>

			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Steps</h3>
					</div>
					<div class="panel-body">
						<ul>
							<li>Enter name</li>
							<li>Send Emails where you want to send email</li>
							<li>Click on Send Email button</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>