<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>WinWithWeb-Configuration</title>

<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

	<div class="container login-container">
		<div class="row">
			<div class="col-md-6 login-form-1" align="center">
				<h3>Login</h3>

				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.
					</div>
				</div>

				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>

				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<input type="text" name="username" class="form-control"
							placeholder="Your Email *" value="" />
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control"
							placeholder="Your Password *" value="" />
					</div>
					<div class="form-group">
						<input type="submit" class="btnSubmit" value="Login" />
					</div>
					<div class="form-group">
						<a href="#" class="ForgetPwd">Forget Password?</a>
					</div>
				</form>
			</div>

			<!--    <div class="col-md-6 login-form-1" align="center">
                    <img th:src="@{/images/loginimage.jpg}" alt="loginimage"/>

       </div> -->

		</div>
	</div>



</body>
</html>
